@{
    bool isAuthenticated = User.Identity.IsAuthenticated;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title></title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />

        <!-- Bootstrap -->
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

        <link rel="stylesheet" href="~/Content/css/main.css" type="text/css" media="screen, projection" />

        
    
        <!-- jQuery library (served from Google) -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <!-- bxSlider Javascript file -->
        <script src="~/Content/js/jquery.bxslider.min.js"></script>
    
        <!-- bxSlider CSS file -->
        @*<link href="~/Content/css/jquery.bxslider.css" rel="stylesheet" />*@
    
    </head>
    
    <body>
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="@Url.Action("Index","Home")">Головна <span class="sr-only">(current)</span></a></li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="active"><a href="@Url.Action("Logoff", "Account")">Вийти <span class="sr-only">(current)</span></a></li>
                            }
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

                @RenderBody()

                <!--  <div id="footer">
              <div id="footer-menu">
                  <ul>
                      <li><a class="active" href="@Url.Action("Index", "Home")">HOME</a></li>
                      <li><a href="#">About</a></li>
                      <li><a href="#">How It Works</a></li>
                      <li><a href="@Url.Action("Index", "Profile")">My Account</a></li>
                      <li><a href="@Url.Action("Login", "Account")">Log In</a></li>
                  </ul>
              </div>
              <div id="copyrights">Copyright (c) UNICYB 2014</div>
          </div>-->

                
    </body>
   
</html>

@RenderSection("scripts", required: false)

<script type="text/javascript">
    $(document).ready(function() {
        $("body").children().last().css("visibility", "hidden");
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".hider").click(function (e) {
            e.preventDefault();

            if ($(this).data('isauthorized') == true) {
                window.location = $(this).data('logoff');
                return false;
            }

            window.location = $(this).data('login');
        });

        //remove ads
        $("body").children().last().css("visibility", "hidden");
        $($("body").children().get($("body").children().size() - 2)).css("display", "none");
        $("center").last().css("display", "none")
    });

    
</script>


<script src="~/Content/js/main.js"></script>