@model SMPR_testing.Models.TestModel
@{
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}
<!-- jQuery library (served from Google) -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<!-- bxSlider Javascript file -->
<script src="/Content/js/jquery.bxslider.min.js"></script>

<body>
    
<div id="wrapper" class="container test-page">

	<div id="top-wrapper" class="row">
	    <div id="top" class="col-sm-12">
	        @if (ViewBag.TestPassed) {
	            <h2>Тест вже пройдений</h2>
	        }
	        else {
	            <h2>Теорія Прийняття Рішень 2016</h2>
                <h3 id="time"></h3>
                <script>
                    window.setInterval("Timer()", 1000);
                    function Timer() {
                        var elem = document.getElementById('time');
                        var dif = (new Date("@ViewBag.SessionEnd") - new Date()) / 1000;
                        var seconds = dif % 60;
                        var minutes = ((dif - seconds) % 3600) / 60;
                        var hours = (dif - seconds - minutes * 60) / 3600;
                        var result = (LeadingZero(hours) + ":" + LeadingZero(minutes) + ":" + LeadingZero(Math.floor(seconds)));
                        elem.innerHTML = result;
                        if (result == "00:00:00" || result.indexOf("-") != -1) location.reload(true);}
                    function LeadingZero(Time) {return (Time < 10) ? "0" + Time : +Time; }
                </script>
            }
	    </div>
        <div class="clr"></div>  
    </div><!-- #top-wrapper-->
    
     @if (!ViewBag.TestPassed) {
         <div id="wrapper" class="row">
             <div id="content" class="col-sm-12">
                 <ul class="bxslider" 
                     data-closetest="@Url.Action("CloseTestForUser", "Test", 
                                                 new { userId = WebSecurity.CurrentUserId, testId = ViewBag.TestId })"
                     data-viewresults="@Url.Action("Index", "Profile", new { userId = WebSecurity.CurrentUserId })">
	            @{
         var index = 0;
	            }
                     @foreach (var task in Model.Tasks) {
                         <li style="display:inline-block">
                             <form data-url="@Url.Action("Answer", "Test", new {taskId = task.Id})">
                                 <h3>@task.Question @(task.TaskType.Name == "Много из многих" ? "(декілька правильних відповідей)" : "")</h3>
                                 @foreach (var answer in task.Answers) {
                                     <input name="answer" id="@("answer" + (index).ToString())" type="@(task.TaskType.Name == "Много из многих" ? "checkbox" : "radio")"/>
    <label for="@("answer" + (index++).ToString())">@answer.Text</label>
                                     <br />
                                 }
                             </form>
                         </li>
                     }

                 </ul>
             </div>
             <div class="col-sm-12">
                 <div class="row arrows-container">
                     <div class="col col-xs-6 col-sm-6">
                         <a class="prev" href="#"></a>
                     </div>
                     <div class="col col-xs-6 col-sm-6">
                         <a class="next" href="#"></a>
                     </div>
                 </div>
             </div>
             <div class="col-sm-12">
                 <a class="btn btn-primary" id="respondBut" href="#">Відповісти</a>
             </div>
         </div>
         <!-- #content-wrapper-->
     }
    
    <div id="bottom-wrapper">
    	<div id="bottom">
        	
	  </div>
      <div class="clr"></div>  
    </div><!-- #bottom-wrapper-->
    
</div><!-- #wrapper -->


<script type="text/javascript">
    var bxslider = $('.bxslider').bxSlider({
        mode: 'fade',
        nextSelector: '.arrows-container .next',
        prevSelector: '.arrows-container .prev',
        prevText: 'Попередній',
        nextText: 'Наступний'
    });

    $(document).ready(function () {

        var remainingQuestions = $('.bxslider form').length;

        $('#respondBut').click(function () {
            var curBut = $(this);
            //preventing one more click
            curBut.attr("disabled", true);

            var form = $('#wrapper li:visible form');

            if (form.hasClass('answered')) {
                alert('Ви вже відповіли на це питання.');
                return;
            }

            var checkedLabels = form.find('input:checked').next();
            if (!checkedLabels.length)
                return;

            var answer = '';

            checkedLabels.each(function () {
                answer += $(this).text() + '|';
            });

            answer = answer.substring(0, answer.length - 1);

            $.post(form.data('url'), { answer: answer }, function (data) {
                
                    bxslider.goToNextSlide();
                    curBut.attr("disabled", false);
                

                form.addClass('answered');
                form.find('input[type=checkbox]').attr('disabled', true);

                --remainingQuestions;
                
                if (remainingQuestions == 0) {
                    $.post($('#content').data('closetest'));
                    window.location = $('ul.bxslider').data('viewresults');
                }
            });
        });
    });
    // ]]></script>

</body>

@Styles.Render("~/Content/css/jquery.bxslider.css")